
@model IEnumerable<Tutors.Data.Subject>

@{
    ViewBag.Title = "Indextwo";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Createtwo")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.TutorId)
            
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeRange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectId)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>


        <td>
            
          @Html.DisplayFor(modelItem => item.TutorId)
       
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeRange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectId)
        </td>

        <td>

            @Html.ActionLink("Edit", "Edittwo", new { id = item.TutorId }) |
            @Html.ActionLink("Details", "Detailstwo", new { id = item.TutorId }) |
            @Html.ActionLink("Delete", "Deletetwo", new { id = item.TutorId })
        </td>
    </tr>
    }

</table>

