@model IEnumerable<Tutors.Data.Booking>





<p>
    @*@Html.ActionLink("Create New", "Createthree")*@
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Editthree", new { id = item.Id }) |
            @Html.ActionLink("Details", "Detailsthree", new { id= item. Id }) |
            @Html.ActionLink("Delete", "Deletethree", new { id= item.Id })*@
        </td>
    </tr>
}

</table>
